    <div class="container mt-4">
        <h1 class="text-center mb-4"><span class="material-icons">shopping_basket</span> {{ title }}</h1>
        
        <!-- Si el ticket no está siendo mostrado, mostramos el formulario -->
        <div *ngIf="!showTicket">
        <!-- Select para elegir entre opciones predefinidas -->
        <div class="mb-3 mt-4">
            <label for="itemSelect" class="form-label">Selecciona un producto:</label>
            <div class="input-group">
            <select class="form-select" id="itemSelect" [(ngModel)]="newItem">
                <option value="" disabled selected>Selecciona un producto</option>
                <option *ngFor="let option of itemOptions" [value]="option">{{ option }}</option>
            </select>
            </div>
        </div>
        
        <!-- Input para añadir productos personalizados -->
        <div class="mb-3">
            <label for="customItemInput" class="form-label">O añade un producto personalizado:</label>
            <div class="input-group">
            <input type="text" class="form-control" id="customItemInput" [(ngModel)]="newItem" placeholder="Escribe un producto">
            <input type="number" class="form-control quantity-input" [(ngModel)]="newItemQuantity" min="1" step="1" placeholder="Cantidad" oninput="validity.valid||(value='');">
            <select class="form-select quantity-unit" [(ngModel)]="quantityUnit">
                <option value="unidad">Unidad</option>
                <option value="kilo">Kilo</option>
                <option value="litro">Litro</option>
            </select>
            <button class="btn btn-primary" (click)="addItem()">Añadir</button>
            </div>
        </div>
        
        <!-- Lista de productos -->
        <ul class="list-group mt-3">
            <li *ngFor="let item of items; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
                {{ item.name }} (Cantidad: {{ item.quantity }} {{ getUnit(item.unit, item.quantity) }})
                <button class="btn btn-danger btn-sm" (click)="removeItem(i)">
                    <i class="bi bi-trash"></i> Eliminar
                </button>
            </li>
        </ul>
        
        </div>
        
        <!-- Si el ticket está siendo mostrado, mostramos el ticket -->
        <div *ngIf="showTicket">
        <div #ticketDisplay class="ticket-display mt-4">
            <div class="ticket p-3 border">
            <div class="ticket-header text-center">
                <h3>PlanCompras</h3>
                <p>Fecha: {{ currentDate }}</p>
                <p>-----------------------------</p>
            </div>
    
            <div class="ticket-body">
                <div *ngFor="let item of items" class="ticket-item">
                <span>{{ item.name }} (Cantidad: {{ item.quantity }} {{ getUnit(item.unit, item.quantity) }})</span>
                </div>
            </div>
    
            <div class="ticket-footer text-center">
                <p>-----------------------------</p>
                <p>¡Gracias por su compra!</p>
            </div>
            </div>
        </div>
        </div>
    
        <!-- Botones para mostrar/ocultar y descargar el ticket -->
        <div class="mt-4 d-flex justify-content-between">
        <button class="btn btn-secondary" (click)="toggleTicket()">
            {{ showTicket ? 'Ocultar Ticket' : 'Mostrar Ticket' }}
        </button>
        <button *ngIf="showTicket" class="btn btn-primary" (click)="downloadTicket()">Descargar Ticket</button>
        </div>
    </div>
    